/* Sección del card cuando se encuentra desactivado */

.TipoPielBoxSmall {
  overflow: hidden;
  max-width: 180px;
  height: 194px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.TipoPielBoxInactive {
  display: none;
}

.TipoPielMarco {
  width: 100%;
  height: 15px;
}

.TipoPielMarcoInactive {
  display: none;
}

.TipoPielBoxFace img {
  height: 165px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: -4px;
}

.TipoPielFirstItem {
  border-radius: 24px 0 0 24px;
}

.TipoPielLastItem {
  border-radius: 0 24px 24px 0;
}

/* Sección del card cuando es seleccionado por el usuario */

.TipoPielBox {
  overflow: hidden;
  max-width: 180px;
  height: 398px;
  position: relative;
  margin: 0 auto;
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.TipoPielBoxTitle {
  color: #c78d75;
}

.TipoPielBoxColor {
  height: 15px;
}
.TipoPielBoxColorSelected {
  height: 29px;
}

.TipoPielBoxFaceActive img {
  height: 165px;
  width: 100%;
  margin-top: 24px;
}

.TipoPielBoxTitle h4 {
  font-weight: 700;
  margin: 0;
}

.TipoPielBoxTitle h5 {
  font-weight: 500;
  margin: 0;
}

.TipoPielBoxInfo {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: white;
}

.TipoPielBoxInfo p {
  color: #737373;
  font-weight: 500;
}
