header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0;
    z-index: 10;
    background: white;   
    box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.HeaderLogos {
    display: grid;
    /* grid-template-columns: 200px 150px 60px 100px; */
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: left;
}

.HeaderGroup img {
    width: 100px;
    margin-left: 80px;
}

.Separator {
    width: 2px;
    height: 48px;
    background-color: #056082;
    display: none;
}

.ScreenStatus {
    display: none;
}

.HeaderButton {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: right;
    padding-right: 70px;
}

/* Cuando se realizar scroll los estilos son cambiados */
@media (min-width: 520px) {
    .HeaderScroll .HeaderGroup {
        height: 100px;
    }
    
    .HeaderScroll .HeaderLogos{
        margin-left: 80px;
        grid-template-columns: 150px 60px 100px;
        align-items: center;
        justify-items: center;
    }
    
    .HeaderScroll .HeaderGroup img {
        display: none;
    }
    
    .HeaderScroll .ScreenStatus {
        display: inline;
    }
    
    .HeaderScroll .Separator {
        display: inline;
    }
}

/* si el tamanio de la pantalla es más pequenia cambiar estilo */
.HeaderScroll {
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(20px);
}

@media (max-width: 620px) {
    header {
        height: 70px;
    }
    .HeaderGroup {
        margin-top: 8px;
        grid-template-columns: 1fr 2fr;
    }
    .HeaderGroup img {
        width: 60px;
        margin-left: 30px;
    }

    .HeaderLogos {
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .Separator {
        display: none;
    }

    .ScreenStatus {
        display: none;
    }
}

@media (max-width: 712px) {
    .HeaderButton {
        display: none;
    }
}