.ProtejoSol {
    background-color: #D6F1F6;
}

.ProtejoSolContainer {
    padding: 100px 0 0 0;
}

.ProtejoSolHeader {
    padding: 0 17%;
    padding-bottom: 52px;
}

.ProtejoSolBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProtejoSolItems {
    margin: 0 7%;
}

.ProtejoSolFooter {
    padding: 0 15%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.ProtejoSolInfo {
    color: #056082;
}

/* Estilo de los contenidos */
.ProtejoSolScroll {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

.ProtejoSolScrollIndicator {
    display: none;
}

@media(max-width: 620px) {
    .ProtejoSolScroll {
        grid-template-columns: 70px 1fr 70px;
    }
    .ProtejoSolScrollIndicator {
        display: block;
        width: 100%;
        height: 50px;
    }
    .ProtejoSolFooter {
        margin-top: 20px;
    }

    .ProtejoSolItems {
        margin: 0;
    }
}